<div ng-repeat="invoice in vm.invoices">
  <div class="row">
    <div class="col-md-10">
      <h3>Invoice Number: {{invoice.invoice_number}} - Supplier: {{invoice.supplier_name}}</h3>
      <table ng-table="invoice.tableParams" class="table" show-filter="true">
        <tr ng-repeat="product in $data" ng-class="{ 'danger': product.summary.margin < 0, 'success': product.summary.margin > 0}">
          <td title="'Product Name'" filter="{ product_name: 'text'}" sortable="'product_name'">
            {{product.product_name}}
          </td>
          <td title="'Unit Price'" filter="{ unit_price: 'number'}" sortable="'unit_price'">
            {{product.unit_price}}
          </td>
          <td title="'Units'" filter="{ units: 'number'}" sortable="'units'">
            {{product.units}}
          </td>
          <td title="'Summary'" ng-if="product.summary">
            <p>
              <b>Margin: </b>{{product.summary.margin}}
            </p>
            <p>
              <b ng-if="product.summary.message">Message: </b>{{product.summary.message}}
            </p>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-2 center-block">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-click='invoice.selected=!invoice.selected;'>
        </label>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" ng-click='vm.proccessInvoices()'>Proccess</button>
